.DS_Store
**/.DS_Store
*.log
error.log

.build/
DerivedData/
build/
dist/
e2e-results/

*.profraw
*.xcresult
*.xcuserstate

.idea/
.swiftpm/
xcuserdata/

BelloBox.xcodeproj/xcuserdata/
BelloBox.xcodeproj/project.xcworkspace/xcuserdata/
